body {
    background-color: #E8EAFF;
}
doc-article>doc-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
}
doc-info {
    font-family: sans-serif;
}
doc-abstract {
    background-color: white;
    border: thin solid gray;
    display: block;
    margin: 1em;
    padding: .5em;
}
doc-abstract>doc-para {
    margin-top: 0;
}
doc-personblurb>doc-para {
    margin-top: 0;
    margin-left: 1em;
}
doc-personname {
    font-weight: bold;
}
doc-title {
    display: block;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.5ex;
    margin-bottom: 0em;
}
doc-section {
    display: block;
}
doc-para {
    display:block;
    margin-top: 1.5ex;
    margin-bottom: 0em;
}
doc-figure {
    background-color: white;
    border: thin solid gray;
    display: block;
    margin: .5em;
    padding: .5em;
}
doc-figure>doc-title {
    text-align: center;
    font-size: .8em;
    margin-bottom: .5em;
}
doc-footnote>a {
    font-size: .7em;
    vertical-align: super;
}
div.notes doc-footnote {
    display: block;
}
div.notes doc-footnote doc-para {
    display: inline;
}
doc-imagedata>img {
    max-width: 100%;
}