tei-div {
  display: block;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}


tei-list[type=simple] {
  list-style-type: none;
}
tei-list[type=simple]>tei-item {
  display: list-item;
}
tei-hi[rend=italics] {
  font-style: italic;
}
tei-lb:before {
  white-space: pre;
  content: "\A";
}